In [16]:
import pandas as pd
from sqlalchemy import create_engine
from fastparquet import ParquetFile

from time import time
import json

from google.cloud import storage, bigquery
import os
from dotenv import load_dotenv

In [5]:
PROJECT_ID = os.getenv('GCP_PROJECT_ID')
BUCKET = os.getenv('GCP_GCS_BUCKET')

In [7]:
client = storage.Client.from_service_account_json(json_credentials_path='/home/conrado/.gc/credentials/google_credentials.json')
print(f'Loading GCS bucket, {client}')
bucket = client.bucket(BUCKET)

Loading GCS bucket, <google.cloud.storage.client.Client object at 0x7f03fcbe3610>

In [19]:
client = bigquery.Client.from_service_account_json(
        json_credentials_path='/home/conrado/.gc/credentials/google_credentials.json',
        project=PROJECT_ID)

In [ ]:
table = bigquery.Table(.........)

external_config = bigquery.ExternalConfig('PARQUET')
source_uris = [f"gs://{BUCKET}/raw/{parquet_file}"] #i.e for a csv file in a Cloud Storage bucket 

external_config.source_uris = source_uris
table.external_data_configuration = external_config

In [9]:
with open('/home/conrado/.gc/credentials/google_credentials.json', 'r') as f:
    data = json.load(f)

In [ ]:
data

In [2]:
pf = ParquetFile('yellow_tripdata_2022-01.parquet')
df = pf.to_pandas()

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [5]:
engine.connect()

In [6]:
query = """
select *
from pg_catalog.pg_tables
where schemaname != 'pg_catalog' and
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

Empty DataFrame
Columns: [schemaname, tablename, tableowner, tablespace, hasindexes, hasrules, hastriggers, rowsecurity]
Index: []

In [ ]:
df = pd.read_parquet('output.parquet')

In [12]:
tt_df = df[:1000000]

In [14]:
tt_df.to_csv('yellow_tripdata_2022-01.csv')

In [8]:
df_inter = pd.read_csv('yellow_tripdata_2022-01.csv', index_col=0)

In [ ]:
df_inter

In [8]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [9]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

In [11]:
df.head(0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, airport_fee]
Index: []

In [12]:
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [36]:
df1.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

1000

In [13]:
def chunker(seq, size):
    for pos in range(0, len(seq), size):
        yield seq.iloc[pos:pos + size]

In [16]:
chnk = chunker(df[:10000], 10000)

In [17]:
while True:
    t_start = time()
    df_chunck = next(chnk)

    df_chunck.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()
    print('inserted another chunk...., took %.3f seconds' % (t_end - t_start))

inserted another chunk...., took 0.677 seconds

StopIteration: